<div class="issue-wrap">
  <div (click)="openDialogDemand()" class="issue" style="background-color: {{demands.color}};">
    <p class=" text-15 text-textDarkest">
      {{demands.name }}
    </p>
<!--    <div id="color-wrap">-->
<!--&lt;!&ndash;      <mat-icon color="blue">format_color_fill</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-icon>format_color_fill</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        <button class="form-control" (change)="changeColor($event)" mat-mini-fab color="primary">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-icon>format_color_fill</mat-icon>     красивая кнопочка и иконка, может пригодится &ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->

<!--      <label>-->
<!--        <select class="form-control" (change)="changeColor($event)">-->
<!--          <option  *ngFor="let col of colors" [value]="col"> {{col}}</option>-->
<!--        </select>-->
<!--      </label>-->
<!--    </div>-->
  </div>
</div>
